.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  

body{
    background-color: hsl(30, 54%, 90%);
}
.bg{
    width: 500px;
    background-color: white;
    padding: 20px;
    position: relative;
    left: 100px;
    border-radius: 1rem;

}
img{
    border-radius: 1rem;
    width:500px;
    height:300px  
}
.prep{
    background-color: hsl(330, 100%, 98%);
    padding: 1.5rem;
    border-radius: 1rem;
}
.prep div h2{
    color: hsl(332, 51%, 32%);
}

.content h2{
    color: hsl(14, 45%, 36%);
}

ul li{
    line-height: 2rem;
    font-size: 16px;
}

ol li{
    line-height: 2rem;
}
table{
    border-collapse: collapse;
    padding: 1rem;
    width: 300px;
    height: 200px;
}
